services:
  db:
    image: ghcr.io/cdinger/oracle:19.3.0-ee
    volumes:
      - db:/opt/oracle/oradata
    environment:
      - ORACLE_PWD=thisisonlyusedlocally
    ports:
      - "127.0.0.1:1521:1521"
  gem:
    build: .
    volumes:
      - .:/app
    environment:
      - TERM=dumb
    stdin_open: true
    tty: true
    depends_on:
      - db
volumes:
  db:
